{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="float-left">
    <img src="{% get_static_prefix %}images/{{ book.image_name }}" width="400px">
</div>

<div class="columns">
    <h1>{{ book.title }}</h1>
    <h2>{{ book.description }}</h2>
    <div>Published: {{ book.pub_date }}</div>
    <br />
    <div>Average rating: {{ comment_ave }} stars</div>
    <br />
    <div>
        <i class="icon-thumbs-o-up icon-small" aria-hidden="true"></i>
        <a id=like-link href="#">{{ link_text }}</a>
        <span id=like-link-msg>{{ link_msg }}</span>
    </div>
    <br />
    <!-- <hr /> -->
    <div class="medium-heading">Price: $<span id=price>{{ discounted_price }}</span></div>
    <a class="button" href="{% url 'purchase' book.id %}">Buy Now</a>
    &nbsp;&nbsp;&nbsp;...or look at other <a href="/browse/">books</a>
    <hr />
    <br />
    <h2>{{ comment_header }}</h2>
    <div>
        {% for comment in comment_list %}
        <div>{{ comment.name }} <span class=star>{{ comment.stars }}</span></div>
        <div>{{ comment.comment }}</div>
        <div>{{ comment.date_added }}</div>
        <br>
        {% endfor %}
    </div>
    <a id=leave-comment-button href="#">{{ leave_comment_header }}</a>
    <div id=comment-form class=visuallyhidden>
        <form action="/coloringbook/{{book.id}}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="button" value="Submit">
        </form>
    </div>
    <br />
    <br />
</div>

{% endblock %}